<div class="top-content-wrapper">
  <div class="well-searchbox">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-3 control-label">From:</label>
              <div class="col-md-9">
                <select [(ngModel)]="fromAirport" class="form-control" name="select-from-airport">
                  <option value="" disabled selected>Please select airport</option>
                  <option *ngFor="let airport of airports" value="{{airport.airportCode}}">{{airport.airportName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-3 control-label">To:</label>
              <div class="col-md-9">
                <select [(ngModel)]="toAirport" class="form-control" name="select-to-airport">
                  <option value="" disabled selected>Please select airport</option>
                  <option *ngFor="let airport of airports" value="{{airport.airportCode}}">{{airport.airportName}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="col-md-3 control-label">Date:</label>
              <div class="col-md-9">
                <div class='input-group date'>
                  <input type="text" class="form-control" value="{{getFormatedDate()}}" (focus)="showDatePicker = true" name = "flightDate">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar" (click)="showDatePicker = true"></span>
                  </span>
                </div>
                  <div *ngIf="showDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                    <datepicker [(ngModel)]="searchDate" [minDate]="minDate" [showWeeks]="true"  name = "flightDate" (selectionDone)="showDatePicker = false"></datepicker>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
                <div class="top-button-container" (click)="findresult()">
                    <p class="search-button" (click) = "findresult()"><span class="glyphicon glyphicon-search"></span> Search flight</p>
                </div>
          </div>
        </div>
      </form>
  </div>
      <app-result-view [searchData]="searchData" [searchresult]="searchresult"></app-result-view>
</div>
