<div class="content-wrapper">
	<p class="content-subtitle"> Airports </p>
	<div class="tab-pane">
		<table class="table table-hover table-color">
			<thead>
				<tr>
					<th>Airport Code</th>
					<th>Airport Name</th>
					<th>City Code</th>
					<th>City Name</th>
					<th>Country Code</th>
					<th>Country Name</th>
					<th>State Code</th>
					<th>TZ</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let el of airports">
					<td>{{el.airportCode}}</td>
					<td>{{el.airportName}}</td>
					<td>{{el.cityCode}}</td>
					<td>{{el.cityName}}</td>
					<td>{{el.countryCode}}</td>
					<td>{{el.countryName}}</td>
					<td>{{el.stateCode}}</td>
					<td>{{el.timeZone}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>